*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root{

  header{
    text-align: center;

    .logo{
      margin-bottom: 10px;
    }

    li{
      display: inline-block;
      width: 60px;
      height: 40px;
      line-height: 40px;
    }
    li:nth-child(2){
      background-color: lightblue;
    }
  }
}
